<!doctype html>
<html lang="en" ng-app="empeek">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="container" ng-controller="MainCtrl">
    <div class="sidebar">
        <div class="sidebar__logo">
            <h1 class="title">Main</h1>
        </div>
        <ul>
            <li class="sidebar__active"><a href="#">Overview</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="content__items">
            <h1>Items</h1>
            <table>
                <thead>
                <tr>
                    <td><input type="text" placeholder="Type name here..." ng-model="item.title"></td>
                    <td><button class="btn btn-add" ng-click="addItem(item)">Add new</button></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in items"
                    ng-click="setSelected($index)"
                    ng-class="{selected: $index === idSelectedRow}">
                    <td>{{i.title}} <span class="label">{{i.comments.length}}</span></td>
                    <td>
                        <button class="btn btn-delete" ng-click="deleteItem($index)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="content__comments">
            <h1>Comments #2</h1>
            <ul class="comments">
                <li ng-repeat="c in comments track by $index">
                    <div class="comments__item">
                        <span class="comments__item-logo"></span>
                        <div class="comments__item-content">{{c}}</div>
                    </div>
                </li>
            </ul>
            <div class="add-comment">
                <span class="comments__item-logo"></span>
                <textarea ng-keydown="addComment($event)" ng-model="comment" placeholder="Save with CMD+Enter or Ctrl+Enter"></textarea>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="./public/js/main.js"></script>
</body>
</html>